@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Rozha+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #000000 !important;
  --secondary-background: #ffffff !important;
  --tertiary-color: #f0141e !important;
  --text-color: #ffffff !important;
  --footer-color: #131313 !important;
  --font-roboto: "Roboto", sans-serif !important;
  --font-rozha: "Rozha One", serif !important;
}

[data-theme="dark"] {
  --primary-background: #000000 !important;
  --secondary-background: #ffffff !important;
  --tertiary-color: #f0141e !important;
  --text-color: #ffffff !important;
}

body {
  @apply bg-[var(--primary-background)]  !important;
  background-image: url("/images/bg-image.jpg");
  background-position: 50% -120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 68%;
  font-family: var(--font-roboto) !important;
}

@media (max-width: 1024px) {
  body {
    background-size: 120%;
    background-position: 50% -60px;
  }
}

@media (max-width: 480px) {
  body {
    background-size: 180%;
    background-position: 56% -60px;
  }
}

a {
  @apply text-[24px] leading-[28.13px] font-normal text-[var(--text-color)] !important;
  font-family: var(--font-roboto) !important;
}

h1 {
  @apply text-[60px] leading-[81px] md:text-[100px] md:leading-[142px] font-normal text-[var(--text-color)] !important;
  font-family: var(--font-rozha) !important;
}

h2 {
  @apply text-[16px] leading-[18.5px] md:text-[32px] md:leading-[37.5px] font-semibold text-[var(--text-color)] !important;
  font-family: var(--font-roboto) !important;
}

h3 {
  @apply text-[24px] leading-[28.13px] font-semibold text-[var(--text-color)] !important;
  font-family: var(--font-roboto) !important;
}

h4 {
  @apply text-[20px] leading-[23.44px] font-normal text-[var(--text-color)] opacity-[50%] !important;
  font-family: var(--font-roboto) !important;
}

h5 {
  @apply text-[20px] leading-[23.44px] font-normal text-[var(--tertiary-color)] opacity-[50%] !important;
  font-family: var(--font-roboto) !important;
}

.dax-ko-content-container {
  @apply bg-[var(--primary-background)] min-h-full !important;
  background-image: url("/images/bg-2.png");
  background-position: top center;
  background-size: contain;
  background-color: transparent !important;
}

.dax-ko-listings-container {
  @apply bg-[var(--primary-background)];
}

.bg-correction {
  @apply bg-[var(--primary-background)];
}
