header {
  @apply bg-transparent w-full;
  z-index: 1000;
}

nav {
  @apply flex justify-between items-center py-[1.5rem] md:py-[3.4rem];
}

.dax-ko-header-logo {
  @apply w-[102px] h-[42px] md:w-[204px] md:h-[84px] flex justify-start items-center bg-[var(--tertiary-color)] p-[7px];
}

.dax-ko-header-links {
  @apply hidden md:flex justify-between items-center md:gap-5 lg:gap-[35px];
}

.dax-ko-header-link {
  @apply text-[24px] leading-[28.13px] font-[400] text-[var(--text-color)] transition-opacity duration-300 ease-in-out;
  font-family: var(--font-roboto);
}

.dax-ko-header-link.active {
  @apply opacity-85;
}

.dax-ko-header-link:hover {
  @apply opacity-85;
}

.dax-ko-menu-icon {
  @apply md:hidden flex items-center text-[35px] md:text-[70px] cursor-pointer z-50;
}

.dax-ko-header-links-mobile {
  @apply md:hidden fixed inset-0 bg-[var(--primary-background)] z-40 flex flex-col items-center justify-center gap-6 w-full;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.dax-ko-header-links-mobile.open {
  transform: translateX(0);
}
